<app-header
  [headerHeading]="['Alle producten', '']">
</app-header>

<div class="row">
  <div class="large-12 columns text-center">
    <h2>{{ msg }}</h2>
  </div>
</div>

<div class="row">
  <div class="large-2 columns filter-margin">
    <span>Filter</span>
  </div>
  <div class="large-4 columns">
    <input type="text" placeholder="Zoek" [formControl]="filterInput" />
  </div>
  <div class="large-4 columns">
    <select [formControl]="filterCategory">
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.category">{{category.category}}</option>
    </select>
  </div>
  <div class="large-2 columns">
    <button class="button" (click)="reset()">Reset</button>
  </div>
</div>

<div class="row" *ngFor="let product of products | filter: { name: filterText, category: filterCategoryText }">
  <div>
    <img height="300" width="300" class="product-img" [alt]="product.name" [src]="product.photo" />
  </div>

  <div class="large-4 columns actions-margin" [innerHTML]="'Naam: ' + product.name | highlight : filterText"></div>
</div>
