.row
  .large-12.columns.text-center
    h2 Producten

.row
  .large-3.columns.right
    a.button.add-product(routerLink="/admin/addproduct") Product toevoegen

.row
  .large-5.medium-6.columns
    input(type="text", placeholder="Zoek", [formControl]="filterInput")

  .large-5.medium-6.columns
    select([formControl]="filterCategory")
      option(value="")
      option(*ngFor="let category of (categories | async); let i = index; trackBy: trackByFn", [value]="category.category", [innerText]="category.category")

  .large-2.columns.end
    button.button((click)="reset()") Reset

hr.hr-margin

.row(*ngFor="let product of (products | async | filter: { name: filterText } | filter: { category: filterCategoryText }); let i = index; trackBy: trackByFn")
  .large-4.medium-.small-12.columns.actions-margin([innerHTML]="'Naam: ' + product.name | highlight : filterText")
  .large-4.medium-5.small-6.columns.actions-margin([innerHTML]="'Categorie: ' + product.category | highlight : filterCategoryText")
  .large-2.medium-5.small-6.columns.text-center
    button.button((click)="preview(product.photo)") Foto

  .large-1.medium-1.small-6.columns.actions-margin.text-center
    a([routerLink]="['/admin/editproduct', product._id]")
      span.icon.icon-pencil

  .large-1.medium-1.small-6.columns.actions-margin.text-center
    a((click)="delete(product._id, product.name)")
      span.icon.icon-trash

  hr.hr-margin

app-notifications
