<app-header
  [headerImage]="1"
  [headerHeading]="['Registreren', 'Een account is niet verplicht, wel handig']">
</app-header>

<div class="section">
  <div class="row">
    <div class="large-12 columns">
      
      <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm.value)">

        <div class="row">
          <div class="large-12 columns text-center">
            <h2 [innerText]="msg"></h2>
          </div>
        </div>
        
        <div class="row">
          <div class="large-5 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['firstname'].valid && registerForm.controls['firstname'].touched }">
              Voornaam
              <input type="text" [formControl]="registerForm.controls['firstname']" [ngClass]="{ 'error': !registerForm.controls['firstname'].valid && registerForm.controls['firstname'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['firstname'].valid && registerForm.controls['firstname'].touched" class="error">
              Voornaam is verplicht
            </small>
          </div>
          <div class="large-2 columns">
            <label>
              Tussenvoegsel
              <input type="text" [formControl]="registerForm.controls['surname_prefix']" />
            </label>
          </div>
          <div class="large-5 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['surname'].valid && registerForm.controls['surname'].touched }">
              Achternaam
              <input type="text" [formControl]="registerForm.controls['surname']" [ngClass]="{ 'error': !registerForm.controls['surname'].valid && registerForm.controls['surname'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['surname'].valid && registerForm.controls['surname'].touched" class="error">
              Achternaam is verplicht
            </small>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['postal_code'].valid && registerForm.controls['postal_code'].touched }">
              Postcode
              <input type="text" [formControl]="registerForm.controls['postal_code']" [ngClass]="{ 'error': !registerForm.controls['postal_code'].valid && registerForm.controls['postal_code'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['postal_code'].valid && registerForm.controls['postal_code'].touched" class="error">
              Postcode is verplicht
            </small>
          </div>
          <div class="large-2 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['house_number'].valid && registerForm.controls['house_number'].touched }">
              Huisnummer
              <input type="text" [formControl]="registerForm.controls['house_number']" [ngClass]="{ 'error': !registerForm.controls['house_number'].valid && registerForm.controls['house_number'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['house_number'].valid && registerForm.controls['house_number'].touched" class="error">
              Huisnummer is verplicht
            </small>
          </div>
          <div class="large-8 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['streetname'].valid && registerForm.controls['streetname'].touched }">
              Straatnaam
              <input type="text" [formControl]="registerForm.controls['streetname']" [ngClass]="{ 'error': !registerForm.controls['streetname'].valid && registerForm.controls['streetname'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['streetname'].valid && registerForm.controls['streetname'].touched" class="error">
              Straatnaam is verplicht
            </small>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['city'].valid && registerForm.controls['city'].touched }">
              Plaats
              <input type="text" [formControl]="registerForm.controls['city']" [ngClass]="{ 'error': !registerForm.controls['city'].valid && registerForm.controls['city'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['city'].valid && registerForm.controls['city'].touched" class="error">
              plaats is verplicht
            </small>
          </div>
          <div class="large-6 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['country'].valid && registerForm.controls['country'].touched }">
              Land
              <input type="text" [formControl]="registerForm.controls['country']" [ngClass]="{ 'error': !registerForm.controls['country'].valid && registerForm.controls['country'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['country'].valid && registerForm.controls['country'].touched" class="error">
              Land is verplicht
            </small>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['email'].valid && registerForm.controls['email'].touched }">
              E-mail adres
              <input type="text" [formControl]="registerForm.controls['email']" [ngClass]="{ 'error': !registerForm.controls['email'].valid && registerForm.controls['email'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched" class="error">
              E-mail adres is verplicht
            </small>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['password'].valid && registerForm.controls['password'].touched }">
              Wachtwoord
              <input type="password" [formControl]="registerForm.controls['password']" [ngClass]="{ 'error': !registerForm.controls['password'].valid && registerForm.controls['password'].touched }" />
            </label>
            <small *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched" class="error">
              Wachtwoord moet minimaal 6 karakters lang zijn
            </small>
          </div>
          <div class="large-6 columns">
            <label [ngClass]="{ 'error': !registerForm.controls['password_confirm'].valid && registerForm.controls['password_confirm'].touched }">
              Wachtwoord
              <input type="password" [formControl]="registerForm.controls['password_confirm']" [ngClass]="{ 'error': !registerForm.controls['password_confirm'].valid && registerForm.controls['password_confirm'].touched }" />
            </label>

            <small *ngIf="registerForm.hasError('mismatchedPasswords') && registerForm.controls['password_confirm'].touched" class="error">
              Wachtwoorden komen niet overeen
            </small>
          </div>
        </div>

        <div class="row">
          <div class="large-2 columns">
            <button class="button" type="reset">Reset</button>
          </div>
          <div class="large-2 columns end">
            <button class="button" type="submit" [disabled]="!registerForm.valid || disabled">Registreren</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>