header {
  padding: 60px 0 0;
  background-color: #cd2e6b;
  color: white;
  margin-top: 78px;
  overflow: hidden;
}

header img {
  margin-bottom: -140px;
  display: inline-block;
}

header h1 {
  color: white;
  font-size: 70px;
  line-height: 74px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

header .large-8 h1 {
  margin: 100px 0 5px;
}

header .subheading {
  display: block;
  margin-bottom: 30px;
  font-size: 28px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

header .large-8 {
  padding-left: 40px !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 60px;
  }

  header .subheading {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  header {
    text-align: center !important;
    margin-top: 0 !important;
  }

  header img {
    margin-bottom: 50px;
    max-height: 400px;
  }

  header h1,
  header .large-8 h1 {
    margin-top: 10px !important;
  }

  header .large-8 {
    padding-left: 0.9375em !important;
  }
}
