#top {
  background: white !important;
  z-index: 100;
  padding: 0 !important;
}

.cart {
  margin-top: 23px;
  margin-right: 10px;
}

.background {
  background: transparent;
}

.top-bar,
.top-bar-section ul,
.top-bar-section li a:not(.button) {
  background: white !important;
  color: #222;
  font-size: 20px;
  font-weight: 200;
}

.top-bar {
  height: 78px;
  line-height: 78px;
}

.top-bar .logo {
  height: 78px;
  line-height: 100px;
}

.top-bar .logo img {
  display: inline-block;
}

.top-bar-section li a:not(.button) {
  line-height: 78px;
  color: #222;
}

.top-bar-section li a:hover:not(.button) {
  color: #666;
}

.top-bar-section ul li:last-child {
  line-height: 58px;
}

.top-bar-section ul li > a.button {
  min-width: inherit !important;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
  display: inline-block;
}

.toggle-topbar {
  margin-top: 10px;
}

.top-bar .toggle-topbar.menu-icon a,
.top-bar .toggle-topbar a {
  color: #222;
  font-weight: normal;
}

.top-bar .toggle-topbar.menu-icon span,
.top-bar .toggle-topbar span {
  padding-right: 20px;
  text-indent: -60px;
}

.top-bar.collapsed .title-area {
  background: white;
}

.top-bar.collapsed .top-bar-section li a:not(.button) {
  line-height: 40px;
}

.top-bar.collapsed .top-bar-section li {
  border-top: 1px solid #e1e1e1;
}

.top-bar.collapsed {
  height: auto;
}

.top-bar.collapsed .toggle-topbar.menu-icon a,
.top-bar.collapsed .toggle-topbar a {
  color: #888;
}

.top-bar .active a {
  color: #cd2e6b !important;
}

@media (max-width: 767px) {
  #top {
    position: static !important;
    top: auto !important;
    left: auto;
    right: 0;
  }

  .cart {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .top-bar,
  .top-bar-section ul {
    background: white !important;
  }

  .top-bar-section li a:not(.button) {
    background: white !important;
  }
}
