app-header([headerHeading]="['Admin panel', '']")

.section
  .row
    .large-12.columns
      .button-group
        a.button(routerLink="/admin/categories") Categorieën
        a.button(routerLink="/admin/products") Producten
        a.button(routerLink="/admin/messages") Berichten
        span.badge.clickable(*ngIf='messageCount && messageCount !== "0"', routerLink="/admin/messages", [innerText]='messageCount')
        a.button(routerLink="/admin/stats") Statistieken

  router-outlet
