.row
  .large-12.columns
    form([formGroup]="passwordForm", (ngSubmit)="submitPasswordForm(passwordForm.value)")

      .row
        .large-12.columns
          label([ngClass]="{ 'error': !passwordForm.controls['old_password'].valid && passwordForm.controls['old_password'].touched }") Oude Wachtwoord
            input(type="password", [formControl]="passwordForm.controls['old_password']", [ngClass]="{ 'error': !passwordForm.controls['old_password'].valid && passwordForm.controls['old_password'].touched }")
          small.error(*ngIf="!passwordForm.controls['old_password'].valid && passwordForm.controls['old_password'].touched") Wachtwoord moet minimaal 6 karakters lang zijn

      .row
        .large-6.columns
          label([ngClass]="{ 'error': !passwordForm.controls['password'].valid && passwordForm.controls['password'].touched }") Nieuwe Wachtwoord
            input(type="password", [formControl]="passwordForm.controls['password']", [ngClass]="{ 'error': !passwordForm.controls['password'].valid && passwordForm.controls['password'].touched }")
          small.error(*ngIf="!passwordForm.controls['password'].valid && passwordForm.controls['password'].touched") Wachtwoord moet minimaal 6 karakters lang zijn

        .large-6.columns
          label([ngClass]="{ 'error': !passwordForm.controls['password_confirm'].valid && passwordForm.controls['password_confirm'].touched }") Nieuwe Wachtwoord
            input(type="password", [formControl]="passwordForm.controls['password_confirm']", [ngClass]="{ 'error': !passwordForm.controls['password_confirm'].valid && passwordForm.controls['password_confirm'].touched }")
          small.error(*ngIf="passwordForm.hasError('mismatchedPasswords') && passwordForm.controls['password_confirm'].touched") Wachtwoorden komen niet overeen

      .row
        .large-2.columns.end
          button.button(type="submit", [disabled]="!passwordForm.valid || disabledPasswordForm") Opslaan

app-notifications
