<app-header
  [headerHeading]="['Inkie\'s webshop', 'Voor al uw gestolen goederen.']"
  [headerButton]="button">
</app-header>

<div class="section">
  <div class="row">
    <div class="large-12 columns">
      <h2>Nieuwste producten</h2>
    </div>
  </div>

  <div class="row" >
    <div class="large-4 columns text-center" *ngFor="let product of products">
      <h3>{{ product.name }}</h3>
      <img [src]="'assets/products/' + product.photo" height="300" width="300" class="product-img" [alt]="product.name" />
    </div>
  </div>

</div>
