<app-header *ngIf="!loggedIn"
  [headerImage]="0"
  [headerHeading]="['Lorum ipsum', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']"
  [headerButton]="['/login', 'Aanmelden']">
</app-header>
<app-header  *ngIf="loggedIn"
  [headerImage]="0"
  [headerHeading]="['Lorum ipsum', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']">
</app-header>

<div class="section">
  <div class="row">
    <div class="large-12 columns">
      <h2>Nieuwste producten</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <h3>Lorem Ipsum </h3>
      <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="large-4 columns">
      <h3>Lorem Ipsum </h3>
      <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="large-4 columns">
      <h3>Lorem Ipsum </h3>
      <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <h3>Lorem Ipsum </h3>
      <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="large-4 columns">
      <h3>Lorem Ipsum </h3>
      <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="large-4 columns">
      <h3>Lorem Ipsum </h3>
      <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
  </div>

</div>