<div class="row">
  <div class="large-12 columns text-center">
    <h2>{{ msg }}</h2>
  </div>
</div>

<form [formGroup]="addCategoryForm" (ngSubmit)="submitForm(addCategoryForm.value)">
  <div class="row">
    <div class="large-10 columns">
      <label [ngClass]="{ 'error': !addCategoryForm.controls['name'].valid && addCategoryForm.controls['name'].touched }">
        Categorie
        <input type="text" [formControl]="addCategoryForm.controls['name']" [ngClass]="{ 'error': !addCategoryForm.controls['name'].valid && addCategoryForm.controls['name'].touched }" />
      </label>
      <small *ngIf="!addCategoryForm.controls['name'].valid && addCategoryForm.controls['name'].touched" class="error">
        Categorie naam is verplicht
      </small>
    </div>
    <div class="large-2 columns">
      <button class="button button-margin" type="submit" [disabled]="!addCategoryForm.valid || disabled">Toevoegen</button>
    </div>
  </div>
</form>

<div class="row" *ngFor="let category of categories; let i = index; trackBy: i">
  <div class="large-10 columns">
    {{ category.category }}
  </div>
  <div class="large-1 columns actions-margin">
    <a (click)="edit(category.category, category._id)"><span class="icon icon-pencil"></span></a>
  </div>
  <div class="large-1 columns actions-margin">
    <a (click)="delete(category.category, category._id)"><span class="icon icon-trash"></span></a>
  </div>
  <hr class="hr-margin" />
</div>
