<app-header
  [headerHeading]="[product?.name, '']">
</app-header>

<div class="section">
  <div class="row">
    <div class="large-6 columns text-center">
      <img class="product-img" [src]="'assets/products/' + product?.photo" [alt]="product?.name" height="300" width="300" />
    </div>
    <div class="large-6 columns text-center">
      <h2>{{ product?.name }}</h2>
      <h3>Prijs: {{ product?.price | currency:'EUR':true | fixCurrency }}</h3>
      <h4>{{ product?.description }}</h4>
      <br />
      <button class="button">Toevoegen aan winkelmand</button>
    </div>
  </div>
</div>
