app-header([headerHeading]="[product?.name, '']")

.section
  .row
    .large-6.columns.text-center
      img.product-img([src]="'assets/products/' + product?.photo", [alt]="product?.name", height="300", width="300")

    .large-6.columns.text-center
      h2([innerText]="product?.name")
      h3([innerText]="'Prijs: ' + (product?.price | currency:'EUR':true | fixCurrency)")
      h4([innerText]="product?.description")
      br
      div(*ngIf="product?.amount !== 0; else soldOut")
        button.button((click)="addToCart()") Toevoegen aan winkelwagen
      ng-template(#soldOut='')
        .row.text-center
          h4(style="color: red") Dit product is niet op voorraad

app-notifications
