footer
  div.row
    div.large-12.columns.align-center
      span.copyright Gemaakt met
      span.icon.icon-heart-2.pink
      span.copyright door
        a(href="https://owain.nl", target="_blank", rel="noopener")  Owain van Brakel
