.row
  .large-12.columns.text-center
    h2 Berichten

div(*ngFor='let message of messages; let i = index; trackBy: trackByFn')
  .row(*ngIf='message.read === false')
    .large-12.medium-12.small-12.columns
      h5 Ongelezen!
  .row(*ngIf='message.read === false')
    .large-12.medium-12.small-12.columns
     span Datum:&nbsp;
     span([innerText]='message.date | date:"dd / MM / yyyy"')
  .row
    .large-4.medium-4.columns
      span Naam:&nbsp;
      span([innerText]='message.firstname + " "')
      span(*ngIf='message.surname_prefix && message.surname_prefix !== ""', [innerText]='message.surname_prefix + " "')
      span([innerText]='message.surname')
    .large-4.medium-4.columns
      span Email:&nbsp;
      span([innerText]='message.email')
    .large-4.medium-4.columns
      span Onderwerp:&nbsp;
      span([innerText]='message.subject')
  .row
    .large-12.medium-12.small-12.columns
      span Bericht:&nbsp;
      span([innerText]='message.message')
  .row(*ngIf='message.read === false')
    .large-12.medium-12.small-12.columns
      a((click)='markAsRead(message._id)') Als gelezen markeren

  hr.hr-margin

app-notifications
