#wrapper
  min-height 100%
  margin-bottom -90px

#main
  overflow auto
  padding-bottom 90px

app-footer // @stylint ignore
  position relative
  margin-top -90px
  height 90px
  clear both

#back-top
  display inline-block
  transform rotate(-90deg)
  color #ea4c88
  cursor pointer
  position fixed
  right 10px
  bottom 25px
  font-size 24pt
  width 40px
  height 40px

@media (max-width: 940px)
  #back-top
    display none
