#wrapper {
  min-height: 100%;
  margin-bottom: -90px;
}

#main {
  overflow: auto;
  padding-bottom: 90px;
}

app-footer {
  position: relative;
  margin-top: -90px;
  height: 90px;
  clear: both;
}
