* {
  outline: none;
}

html,
body,
app-root {
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h2 {
  color: #cd2e6b;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}

a {
  cursor: pointer;
}

.clearing-thumbs {
  list-style: none;
}

/* Global Classes */
.align-center {
  text-align: center;
}

button:focus {
  outline: 0;
}

select {
  background-color: #fff;
}

mark {
  background-color: #ea4c88 !important;
  color: #fff;
}

.section {
  padding: 20px 0 !important;
}

.clickable {
  cursor: pointer;
}

.button {
  padding-left: 40px;
  padding-right: 40px;
  transition: all 0.4s ease-in-out;
}

.button.small {
  min-width: inherit !important;
}

.button {
  border: 1px solid #cd2e6b;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #cd2e6b;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.button.secondary {
  color: #666;
  border: 1px solid #e8e8e8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f3f3f3;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.button.secondary:hover {
  border: 1px solid #e8e8e8;
  background-color: #e9e9e9;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.button.white {
  clear: both;
  color: #cd2e6b;
  background-color: white;
  border: 0 !important;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) !important;
  background-image: none !important;
}

.button.white:hover {
  opacity: 0.9;
}

/* Section */
.section {
  padding: 70px 0;
}

.section.orange {
  background-color: #cd2e6b;
}

.section.gray {
  background-color: #f2f2f2;
}

.section .subheading {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.3em;
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.pink .button {
  color: white !important;
}

.pink .button.white {
  background: white !important;
}

.pink .button.white:hover {
  background: white !important;
}

.pink .button.secondary {
  color: #666 !important;
  border-color: #e8e8e8 !important;
}

.pink .top-bar a:not(.button) {
  color: #222 !important;
}

.pink a,
.pink h2,
.pink .hint h3,
.pink .feature .icon,
.pink .top-bar .active a,
.pink .button.white,
.pink .title,
.pink footer a.icon:hover,
.pink .quote {
  color: #ea4c88 !important;
}

.pink .quotes .orbit-bullets li.active,
.pink header,
.pink .top-bar-section ul li > a.button,
.pink .button {
  background-color: #ea4c88 !important;
}

.pink .button:hover {
  background-color: #d13c75 !important;
}

.pink .feature .icon {
  border-color: #ea4c88 !important;
}

.pink .button {
  border-color: #cd2e6b !important;
}

@media (max-width: 568px) {
  h2 {
    font-size: 40px;
  }

  .section .subheading {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'entypo';
  src: url('assets/fonts/entypo.eot');
  src:
    url('assets/fonts/entypo.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/entypo.woff') format('woff'),
    url('assets/fonts/entypo.ttf') format('truetype'),
    url('assets/fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-phone::before,
.icon-mobile::before,
.icon-mouse::before,
.icon-directions::before,
.icon-mail::before,
.icon-paperplane::before,
.icon-pencil::before,
.icon-feather::before,
.icon-paperclip::before,
.icon-drawer::before,
.icon-reply::before,
.icon-reply-all::before,
.icon-forward::before,
.icon-user::before,
.icon-users::before,
.icon-user-add::before,
.icon-vcard::before,
.icon-export::before,
.icon-location::before,
.icon-map::before,
.icon-compass::before,
.icon-location-2::before,
.icon-tools::before,
.icon-cog::before,
.icon-flag::before,
.icon-link::before,
.icon-bell::before,
.icon-printer::before,
.icon-flashlight::before,
.icon-popup::before,
.icon-house::before,
.icon-quote::before,
.icon-comment::before,
.icon-chat::before,
.icon-thumbs-down::before,
.icon-thumbs-up::before,
.icon-star::before,
.icon-star-2::before,
.icon-heart::before,
.icon-heart-2::before,
.icon-sharable::before,
.icon-share::before,
.icon-target::before,
.icon-trophy::before,
.icon-tag::before,
.icon-camera::before,
.icon-megaphone::before,
.icon-moon::before,
.icon-palette::before,
.icon-leaf::before,
.icon-music::before,
.icon-music-2::before,
.icon-new::before,
.icon-graduation::before,
.icon-book::before,
.icon-newspaper::before,
.icon-bag::before,
.icon-airplane::before,
.icon-lifebuoy::before,
.icon-eye::before,
.icon-clock::before,
.icon-microphone::before,
.icon-calendar::before,
.icon-bolt::before,
.icon-thunder::before,
.icon-droplet::before,
.icon-cd::before,
.icon-briefcase::before,
.icon-air::before,
.icon-hourglass::before,
.icon-gauge::before,
.icon-language::before,
.icon-network::before,
.icon-key::before,
.icon-battery::before,
.icon-bucket::before,
.icon-magnet::before,
.icon-drive::before,
.icon-cup::before,
.icon-rocket::before,
.icon-brush::before,
.icon-suitcase::before,
.icon-cone::before,
.icon-earth::before,
.icon-keyboard::before,
.icon-browser::before,
.icon-publish::before,
.icon-progress-3::before,
.icon-progress-2::before,
.icon-brogress-1::before,
.icon-progress-0::before,
.icon-sun::before,
.icon-sun-2::before,
.icon-adjust::before,
.icon-code::before,
.icon-screen::before,
.icon-infinity::before,
.icon-light-bulb::before,
.icon-credit-card::before,
.icon-database::before,
.icon-voicemail::before,
.icon-clipboard::before,
.icon-cart::before,
.icon-box::before,
.icon-ticket::before,
.icon-rss::before,
.icon-signal::before,
.icon-thermometer::before,
.icon-droplets::before,
.icon-untitled::before,
.icon-statistics::before,
.icon-pie::before,
.icon-bars::before,
.icon-graph::before,
.icon-lock::before,
.icon-lock-open::before,
.icon-logout::before,
.icon-login::before,
.icon-checkmark::before,
.icon-cross::before,
.icon-erase::before,
.icon-blocked::before,
.icon-info::before,
.icon-cycle::before,
.icon-cw::before,
.icon-ccw::before,
.icon-shuffle::before,
.icon-arrow::before,
.icon-arrow-2::before,
.icon-retweet::before,
.icon-loop::before,
.icon-history::before,
.icon-back::before,
.icon-switch::before,
.icon-list::before,
.icon-add-to-list::before,
.icon-layout::before,
.icon-list-2::before,
.icon-text::before,
.icon-text-2::before,
.icon-document::before,
.icon-docs::before,
.icon-landscape::before,
.icon-pictures::before,
.icon-video::before,
.icon-music-3::before,
.icon-folder::before,
.icon-archive::before,
.icon-trash::before,
.icon-upload::before,
.icon-download::before,
.icon-disk::before,
.icon-install::before,
.icon-cloud::before,
.icon-upload-2::before,
.icon-bookmark::before,
.icon-bookmarks::before,
.icon-book-2::before,
.icon-play::before,
.icon-pause::before,
.icon-record::before,
.icon-stop::before,
.icon-next::before,
.icon-previous::before,
.icon-first::before,
.icon-last::before,
.icon-resize-enlarge::before,
.icon-resize-shrink::before,
.icon-volume::before,
.icon-sound::before,
.icon-mute::before,
.icon-flow-cascade::before,
.icon-flow-branch::before,
.icon-flow-tree::before,
.icon-flow-line::before,
.icon-flow-parallel::before,
.icon-github::before,
.icon-flickr::before,
.icon-vimeo::before,
.icon-twitter::before,
.icon-facebook::before,
.icon-googleplus::before,
.icon-pinterest::before,
.icon-linkedin::before,
.icon-stumbleupon::before,
.icon-lastfm::before,
.icon-rdio::before,
.icon-spotify::before,
.icon-qq::before,
.icon-skype::before,
.icon-plus::before,
.icon-minus::before,
.icon-question::before,
.icon-tumblr::before,
.icon-dribbble::before {
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-phone::before {
  content: "\e000";
}

.icon-mobile::before {
  content: "\e001";
}

.icon-mouse::before {
  content: "\e002";
}

.icon-directions::before {
  content: "\e003";
}

.icon-mail::before {
  content: "\e004";
}

.icon-paperplane::before {
  content: "\e005";
}

.icon-pencil::before {
  content: "\e006";
}

.icon-feather::before {
  content: "\e007";
}

.icon-paperclip::before {
  content: "\e008";
}

.icon-drawer::before {
  content: "\e009";
}

.icon-reply::before {
  content: "\e00a";
}

.icon-reply-all::before {
  content: "\e00b";
}

.icon-forward::before {
  content: "\e00c";
}

.icon-user::before {
  content: "\e00d";
}

.icon-users::before {
  content: "\e00e";
}

.icon-user-add::before {
  content: "\e00f";
}

.icon-vcard::before {
  content: "\e010";
}

.icon-export::before {
  content: "\e011";
}

.icon-location::before {
  content: "\e012";
}

.icon-map::before {
  content: "\e013";
}

.icon-compass::before {
  content: "\e014";
}

.icon-location-2::before {
  content: "\e015";
}

.icon-tools::before {
  content: "\e016";
}

.icon-cog::before {
  content: "\e017";
}

.icon-flag::before {
  content: "\e018";
}

.icon-link::before {
  content: "\e019";
}

.icon-bell::before {
  content: "\e01a";
}

.icon-printer::before {
  content: "\e01b";
}

.icon-flashlight::before {
  content: "\e01c";
}

.icon-popup::before {
  content: "\e01d";
}

.icon-house::before {
  content: "\e01e";
}

.icon-quote::before {
  content: "\e01f";
}

.icon-comment::before {
  content: "\e020";
}

.icon-chat::before {
  content: "\e021";
}

.icon-thumbs-down::before {
  content: "\e022";
}

.icon-thumbs-up::before {
  content: "\e023";
}

.icon-star::before {
  content: "\e024";
}

.icon-star-2::before {
  content: "\e025";
}

.icon-heart::before {
  content: "\e026";
}

.icon-heart-2::before {
  content: "\e027";
}

.icon-sharable::before {
  content: "\e028";
}

.icon-share::before {
  content: "\e029";
}

.icon-target::before {
  content: "\e02a";
}

.icon-trophy::before {
  content: "\e02b";
}

.icon-tag::before {
  content: "\e02c";
}

.icon-camera::before {
  content: "\e02d";
}

.icon-megaphone::before {
  content: "\e02e";
}

.icon-moon::before {
  content: "\e02f";
}

.icon-palette::before {
  content: "\e030";
}

.icon-leaf::before {
  content: "\e031";
}

.icon-music::before {
  content: "\e032";
}

.icon-music-2::before {
  content: "\e033";
}

.icon-new::before {
  content: "\e034";
}

.icon-graduation::before {
  content: "\e035";
}

.icon-book::before {
  content: "\e036";
}

.icon-newspaper::before {
  content: "\e037";
}

.icon-bag::before {
  content: "\e038";
}

.icon-airplane::before {
  content: "\e039";
}

.icon-lifebuoy::before {
  content: "\e03a";
}

.icon-eye::before {
  content: "\e03b";
}

.icon-clock::before {
  content: "\e03c";
}

.icon-microphone::before {
  content: "\e03d";
}

.icon-calendar::before {
  content: "\e03e";
}

.icon-bolt::before {
  content: "\e03f";
}

.icon-thunder::before {
  content: "\e040";
}

.icon-droplet::before {
  content: "\e041";
}

.icon-cd::before {
  content: "\e042";
}

.icon-briefcase::before {
  content: "\e043";
}

.icon-air::before {
  content: "\e044";
}

.icon-hourglass::before {
  content: "\e045";
}

.icon-gauge::before {
  content: "\e046";
}

.icon-language::before {
  content: "\e047";
}

.icon-network::before {
  content: "\e048";
}

.icon-key::before {
  content: "\e049";
}

.icon-battery::before {
  content: "\e04a";
}

.icon-bucket::before {
  content: "\e04b";
}

.icon-magnet::before {
  content: "\e04c";
}

.icon-drive::before {
  content: "\e04d";
}

.icon-cup::before {
  content: "\e04e";
}

.icon-rocket::before {
  content: "\e04f";
}

.icon-brush::before {
  content: "\e050";
}

.icon-suitcase::before {
  content: "\e051";
}

.icon-cone::before {
  content: "\e052";
}

.icon-earth::before {
  content: "\e053";
}

.icon-keyboard::before {
  content: "\e054";
}

.icon-browser::before {
  content: "\e055";
}

.icon-publish::before {
  content: "\e056";
}

.icon-progress-3::before {
  content: "\e057";
}

.icon-progress-2::before {
  content: "\e058";
}

.icon-brogress-1::before {
  content: "\e059";
}

.icon-progress-0::before {
  content: "\e05a";
}

.icon-sun::before {
  content: "\e05b";
}

.icon-sun-2::before {
  content: "\e05c";
}

.icon-adjust::before {
  content: "\e05d";
}

.icon-code::before {
  content: "\e05e";
}

.icon-screen::before {
  content: "\e05f";
}

.icon-infinity::before {
  content: "\e060";
}

.icon-light-bulb::before {
  content: "\e061";
}

.icon-credit-card::before {
  content: "\e062";
}

.icon-database::before {
  content: "\e063";
}

.icon-voicemail::before {
  content: "\e064";
}

.icon-clipboard::before {
  content: "\e065";
}

.icon-cart::before {
  content: "\e066";
}

.icon-box::before {
  content: "\e067";
}

.icon-ticket::before {
  content: "\e068";
}

.icon-rss::before {
  content: "\e069";
}

.icon-signal::before {
  content: "\e06a";
}

.icon-thermometer::before {
  content: "\e06b";
}

.icon-droplets::before {
  content: "\e06c";
}

.icon-untitled::before {
  content: "\e06d";
}

.icon-statistics::before {
  content: "\e06e";
}

.icon-pie::before {
  content: "\e06f";
}

.icon-bars::before {
  content: "\e070";
}

.icon-graph::before {
  content: "\e071";
}

.icon-lock::before {
  content: "\e072";
}

.icon-lock-open::before {
  content: "\e073";
}

.icon-logout::before {
  content: "\e074";
}

.icon-login::before {
  content: "\e075";
}

.icon-checkmark::before {
  content: "\e076";
}

.icon-cross::before {
  content: "\e077";
}

.icon-erase::before {
  content: "\e080";
}

.icon-blocked::before {
  content: "\e081";
}

.icon-info::before {
  content: "\e082";
}

.icon-cycle::before {
  content: "\e087";
}

.icon-cw::before {
  content: "\e088";
}

.icon-ccw::before {
  content: "\e089";
}

.icon-shuffle::before {
  content: "\e08a";
}

.icon-arrow::before {
  content: "\e08b";
}

.icon-arrow-2::before {
  content: "\e08c";
}

.icon-retweet::before {
  content: "\e08d";
}

.icon-loop::before {
  content: "\e08e";
}

.icon-history::before {
  content: "\e08f";
}

.icon-back::before {
  content: "\e090";
}

.icon-switch::before {
  content: "\e091";
}

.icon-list::before {
  content: "\e092";
}

.icon-add-to-list::before {
  content: "\e093";
}

.icon-layout::before {
  content: "\e094";
}

.icon-list-2::before {
  content: "\e095";
}

.icon-text::before {
  content: "\e096";
}

.icon-text-2::before {
  content: "\e097";
}

.icon-document::before {
  content: "\e098";
}

.icon-docs::before {
  content: "\e099";
}

.icon-landscape::before {
  content: "\e09a";
}

.icon-pictures::before {
  content: "\e09b";
}

.icon-video::before {
  content: "\e09c";
}

.icon-music-3::before {
  content: "\e09d";
}

.icon-folder::before {
  content: "\e09e";
}

.icon-archive::before {
  content: "\e09f";
}

.icon-trash::before {
  content: "\e0a0";
}

.icon-upload::before {
  content: "\e0a1";
}

.icon-download::before {
  content: "\e0a2";
}

.icon-disk::before {
  content: "\e0a3";
}

.icon-install::before {
  content: "\e0a4";
}

.icon-cloud::before {
  content: "\e0a5";
}

.icon-upload-2::before {
  content: "\e0a6";
}

.icon-bookmark::before {
  content: "\e0a7";
}

.icon-bookmarks::before {
  content: "\e0a8";
}

.icon-book-2::before {
  content: "\e0a9";
}

.icon-play::before {
  content: "\e0aa";
}

.icon-pause::before {
  content: "\e0ab";
}

.icon-record::before {
  content: "\e0ac";
}

.icon-stop::before {
  content: "\e0ad";
}

.icon-next::before {
  content: "\e0ae";
}

.icon-previous::before {
  content: "\e0af";
}

.icon-first::before {
  content: "\e0b0";
}

.icon-last::before {
  content: "\e0b1";
}

.icon-resize-enlarge::before {
  content: "\e0b2";
}

.icon-resize-shrink::before {
  content: "\e0b3";
}

.icon-volume::before {
  content: "\e0b4";
}

.icon-sound::before {
  content: "\e0b5";
}

.icon-mute::before {
  content: "\e0b6";
}

.icon-flow-cascade::before {
  content: "\e0b7";
}

.icon-flow-branch::before {
  content: "\e0b8";
}

.icon-flow-tree::before {
  content: "\e0b9";
}

.icon-flow-line::before {
  content: "\e0ba";
}

.icon-flow-parallel::before {
  content: "\e0bb";
}

.icon-github::before {
  content: "\e0ee";
}

.icon-flickr::before {
  content: "\e0f0";
}

.icon-vimeo::before {
  content: "\e0f2";
}

.icon-twitter::before {
  content: "\e0f4";
}

.icon-facebook::before {
  content: "\e0f6";
}

.icon-googleplus::before {
  content: "\e0f9";
}

.icon-pinterest::before {
  content: "\e0fb";
}

.icon-linkedin::before {
  content: "\e0ff";
}

.icon-stumbleupon::before {
  content: "\e103";
}

.icon-lastfm::before {
  content: "\e105";
}

.icon-rdio::before {
  content: "\e107";
}

.icon-spotify::before {
  content: "\e109";
}

.icon-qq::before {
  content: "\e10a";
}

.icon-skype::before {
  content: "\e110";
}

.icon-plus::before {
  content: "\e07f";
}

.icon-minus::before {
  content: "\e07e";
}

.icon-question::before {
  content: "\e084";
}

.icon-tumblr::before {
  content: "\e0fd";
}

.icon-dribbble::before {
  content: "\e101";
}
