<div id="top">
  <div class="row">
    <div class="large-12 columns">
      <nav class="top-bar" [class.collapsed]="!collapsed" #navbar>
        <ul class="title-area">
          <li class="name logo">
            <!--<img src="img/logo.png" width="118" height="39" alt="">-->
          </li>
          <li class="toggle-topbar menu-icon">
            <a (click)="navBarClick()">
              <span>Menu</span>
            </a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li>
              <a routerLink="/" (click)="navBarClick(true)">Home</a>
            </li>
            <li>
              <a routerLink="/test" (click)="navBarClick(true)">404</a>
            </li>
            <li *ngIf="url !== '/' && url !== 'undefined' && !loggedIn">
              <a class="button radius" routerLink="/login">Aanmelden</a>
            </li>
            <li *ngIf="loggedIn">
              <a routerLink="/profile">Profiel</a>
            </li>
            <li *ngIf="loggedIn">
              <a class="button radius" (click)="signout()">Uitloggen</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>