.row
  .large-12.columns.text-center
    h2 Product aanpassen


.row
  .large-3.columns
    .file-upload
      label.button(for="photo") Upload foto
      input#photo(style="visibility: hidden", type="file", (change)="fileChangeListener($event)")

    button.button(*ngIf="data.image", (click)="preview()") Voorbeeld

  .large-9.columns
    img-cropper([image]="data", [settings]="cropperSettings", (onCrop)="cropped($event)", #cropper='', [hidden]="!data.image")

form([formGroup]="editProductForm", (ngSubmit)="submitForm(editProductForm.value)")
  .row
    .large-5.medium-6.columns
      label([ngClass]="{ 'error': !editProductForm.controls['name'].valid && editProductForm.controls['name'].touched }") Product naam
        input(type="text", [formControl]="editProductForm.controls['name']", [ngClass]="{ 'error': !editProductForm.controls['name'].valid && editProductForm.controls['name'].touched }")
      small.error(*ngIf="!editProductForm.controls['name'].valid && editProductForm.controls['name'].touched") Product naam is verplicht en mag maximaal 30 karakters lang zijn

    .large-4.medium-6.columns
      label([ngClass]="{ 'error': !editProductForm.controls['category'].valid && editProductForm.controls['category'].touched }") Categorie
        select([formControl]="editProductForm.controls['category']", [ngClass]="{ 'error': !editProductForm.controls['category'].valid && editProductForm.controls['category'].touched }")
          option(*ngFor="let category of categories; let i = index; trackBy: trackByFn", [value]="category.category", [innerText]="category.category")
      small.error(*ngIf="!editProductForm.controls['category'].valid && editProductForm.controls['category'].touched") Categorie is verplicht

    .large-2.medium-6.columns
      label(for="price", [ngClass]="{ 'error': !editProductForm.controls['price'].valid && editProductForm.controls['price'].touched }") Prijs
      .input-group
        span.input-group-label &euro;
        input.input-group-field(type="number", [formControl]="editProductForm.controls['price']", [ngClass]="{ 'error': !editProductForm.controls['price'].valid && editProductForm.controls['price'].touched }")
      small.error(*ngIf="!editProductForm.controls['price'].valid && editProductForm.controls['price'].touched", style="margin-top: -16px") Prijs is verplicht

    .large-1.medium-6.columns
      label([ngClass]="{ 'error': !editProductForm.controls['amount'].valid && editProductForm.controls['amount'].touched }") Aantal
        input(type="number", [formControl]="editProductForm.controls['amount']", [ngClass]="{ 'error': !editProductForm.controls['amount'].valid && editProductForm.controls['amount'].touched }")
      small.error(*ngIf="!editProductForm.controls['amount'].valid && editProductForm.controls['amount'].touched") Aantal is verplicht

  .row
    .large-12.columns
      label([ngClass]="{ 'error': !editProductForm.controls['description'].valid && editProductForm.controls['description'].touched }") Beschrijving
        textarea#description([formControl]="editProductForm.controls['description']", [ngClass]="{ 'error': !editProductForm.controls['description'].valid && editProductForm.controls['description'].touched }")
      small(*ngIf="!editProductForm.controls['description'].valid && editProductForm.controls['description'].touched") Beschrijving is verplicht
  input(type="text", style="visibility: hidden", [formControl]="editProductForm.controls['photo']")
  input(type="text", style="visibility: hidden", [formControl]="editProductForm.controls['id']")
  .row
    .large-2.columns.end
      button.button(type="submit", [disabled]="!editProductForm.valid || disabled") Opslaan

app-notifications
